.education-section {
    /* background-color: black; */

    color: white;
    padding: 2rem;
  }
  
  .education-section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .timeline {
    position: relative;
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 600px;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #a6a6a6;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    position: relative;
    margin: 3rem 0;
    padding-left: 40px;
  }
  
  .timeline-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
  }
  
  .timeline-item:nth-child(odd) .timeline-dot {
    left: auto;
    right: -8px;
  }
  
  .timeline-dot {
    position: absolute;
    left: -8px;
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #444;
  }
  
  .timeline-content {
    background-color: #f5f5f5;
    color: #222;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .timeline-content h3{
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .institution {
    font-weight: bold;
    color: #444;
    font-family: andhika;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  
  .year {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .des{
    font-size: 1.2rem;
    font-family: andika;
    text-transform: uppercase;
  }
  